  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap');


.navbartabs{
    margin-left: 15.3rem;
    margin-top: -85px;
}
.guidance{
    color: #494949;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.18px;
}
.help{
    color: #494949;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.18px;
}
.outer{
    width: 76px;
    height: 34px;
    border-radius: 50px;
    background: #2A97E1;
    padding-top: 4px;
    padding-bottom: 5px;
}
.inner{
    width: 48px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.18px;
    padding-left: 10px;
    padding-right: 10px;
}
.home{
    color: #2A97E1;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.18px;
    margin-left: 128px;
    margin-top: 48px;
}
.outerBox{
    margin-bottom: 45px;
    display: inline;
}
.hcontainer{
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}
.arrow{
    margin-left: 180px;
    margin-top: -40px;
}
.line{
    width: 1130px;
    height: 0.1px;
    background: #AFAFAF;
    margin-left: 8rem;
}
.digital{
    color: #494949;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
    margin-top: -40px;
    margin-left: 10px;
}
.arrow1{
    margin-top:-40px;
    margin-left: 8px;
    margin-right: 25px;
}